@charset "utf-8" ;
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Btitr";
    src: url(../fonts/Btitr.ttf);
}
@font-face {
    font-family: "Bnazanin";
    src: url(../fonts/BNazanin.ttf);
}

html {
    font-size: 100% ;
    font-family: Btitr ,calibri ,Btitr ;
    font-weight: lighterS;
    color: #520E72;
}

body {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    
}

.contianer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 26rem;
    background-color:rgba(255, 255, 255, 0.3) ;
    backdrop-filter:blur(4px);  
    border-radius: 1.5rem;
    border: 1px solid #707070;
    padding: 1.5rem;
}

.btn-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: end;
    font-size: 2.5rem;
    color: #ffffff;
}

.form-control {
    font-family: Bnazanin,'Times New Roman', Times, serif;
    padding-right: 3px;
    font-size: 1.2rem;
    margin-bottom: .4rem;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    height: 2rem;
    width: 19rem;
    background-color: rgba(255, 255, 255, .3);
    margin-right: 2.5rem ;
}

.form label {
    margin-right: 3rem ;
}

.check-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .8rem;
}

.check-box {
    width: 1rem;
}

.btn-signup {
    width: 41%;
    height: 2.5rem;
    position: relative;
    right: 7rem;
    top: 1rem ;
    padding: 0.2rem;
    border-radius: 6px;
    font-size: 1rem;
    font-family: inherit;
    color: white;
    background-color: #0e921385;
    border: 1.5px solid rgb(0 0 0 / 52%);
}

@media screen and (max-width: 468px) {
    .form {
            width: 100% ;
            height: 100% ;
            margin-top: 5rem;
            border-radius: 0;
    }
}

@media screen and (max-width: 376px) {
    .form-control {
            margin-right: 1.5rem ;
    }
    .form label {
        margin-right: 2rem ;
        }
    .check-txt {
            font-size: .8rem ;
            }
}   

@media screen and (max-width: 340px) {
    .form-control {
            width: 17rem ;
    }
    .check-txt {
        font-size: .7rem ;
        }
}

